<div class="container">
    <div class="row">
        <div  class=col-md-4>
            <ul>
                <li routerLink="cartsummary" class="alert alert-dark">Cart Summary</li>
                <li routerLink="address" class="alert alert-dark">Address </li>
                <li routerLink="payment" class="alert alert-dark">Payment</li>
                <li routerLink="ordersummary" class="alert alert-dark">Order Summary</li>
            </ul>
        </div>
        <div  class=col-md-8>
            
            <router-outlet></router-outlet>
        
        </div>
    
    </div>
    </div>