<div class="container-xxl">
<div  class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <br>
            <img src="assets/NL.jpg" class="img-fluid rounded-start" alt="...">
            <br>
            <br>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title" >Italy</h3>
                <p class="card-text">Italy, a European country with a long Mediterranean coastline, has left a powerful
                    mark on Western culture and cuisine. Its capital, Rome, is home to the Vatican as well as landmark
                    art and ancient ruins. Other major cities include Florence, with Renaissance masterpieces such as
                    Michelangelo’s "David" and Brunelleschi's Duomo; Venice, the city of canals; and Milan, Italy’s
                    fashion capital. </p>
                    <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </button>
                    
                    <button class="like">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Add to bucket list
                  </button>
            </div>
        </div>

    </div>
</div>
<app-country class="column"></app-country>
<app-country class="column"></app-country>
<app-country class="column"></app-country>
<app-country class="column"></app-country>
