<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>
<button style="display: none;" id="loginmodalbutton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginmodal">
    Launch demo modal
  </button>
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login/Signup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <app-login></app-login>
        </div>
      </div>
    </div>
  </div>