<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">House of Cakes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Top  Cakes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/search?q=Chocolate">Chocolate</a></li>
              <li><a class="dropdown-item" href="/search?q=BlackForest">Black Forest</a></li>
              <li><a class="dropdown-item" href="/search?q=Mango">Mango</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <form class="d-flex">
            <input [(ngModel)]="searchValue" class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button (click)="search()"class="btn btn-outline-success" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
          </form>  
        </ul>
        <div *ngIf="userloggedin==false" class="d-flex">
          <button routerLink="/login" class="btn btn-primary" type="submit">Login</button>
        </div>
        <div *ngIf="userloggedin==true" class="d-flex">
          <button  routerLink="/cart" class="btn btn-warning"><fa-icon [icon]="faShoppingCart"></fa-icon></button>
          <button  (click)="logout()" class="btn btn-danger"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
        </div>
      </div>
    </div>
  </nav>